#div1{
width:100%;
height:100%;
background-color:red;
border-width:1px;
border-style:solid;
border-color:green;
position:absolute;
}
#div2{
width:80%;
height:80%;
background-color:white;
border-width:1px;
border-style:solid;
border-color:green;
position:absolute;
left:10%;
top:10%
}
#table1 {
border-width:1px;
border-style:solid;
border-color:green;
width:50%;
cellspacing:0;
cellpadding:4;
position:absolute;
left:25%;
top:25%;
text-align:center;
}
tr, td, th{
align:center;
border:1px solid red;

}
